* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(21, 53, 53);
  background-color: #e0e0e0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.box {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  background-color: #61dafb;
  box-shadow: #a2faff;
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

